body{
    margin: 0;
    padding: 0;
}
#back{
    width: 1250px;
    height: 1080px;
    margin: auto;
}
header{
    height: 100px;
    width: 1250px;
    display: flex;
}
.h1{
    width: 250px;
    background-color: #EEEEE9;
}
.h2{
    width: 1000px;
    background-color: #D6CCC2;
}

main{
    height: 880px;
    width: 1250px;
}
.cover{
    position: relative;
}
.top{
    height: 440px;
    background-color: #F5ECE1;
}
.bottom{
    height: 440px;
    display: flex;
}
.b1{
    width: 625px;
    background-color: #E4D6CA;

}
.b2{
    width: 625px;
    background-color: #D5BEB1;
    
}

.pop{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin: -300px 0 0 -250px;
    background-color: #866756;
}
footer{
    height: 100px;
    background-color: #D5BEB1;
}

@media(max-width:680px){
    #back{
        width: 680px;
    }
    header{
        width: 680px;
    }
    .h1{
        width: 0;
    }
    .h2{
        width: 680px;
    }
    .bottom{
        display: block;
    }
    main{
        width: 680px;
    }
    .top{
        height: 33.3%;
    }
    .b1{
        height: 33.3%;
    }
    .b2{
        height: 33.3%;
    }
    .pop{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 0;
        top: 0;
        background-color: #866756;
    }

    footer{
        width: 680px;
    }

}