*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.calulator{
    width: 287px;
    border: 1px solid #333;
    background-color: #ccc;
    padding: 5px;
}
.calulator form{
    display: grid;
    grid-template-columns: repeat(4,65px);
    grid-auto-rows: 65px;
    grid-gap: 5px;
}
.calulator form input{
    border: 2px solid #333;
    cursor: pointer;
    font-size: 19px;
}
.calulator form input:hover{
    box-shadow: 1px 1px 2px #333;
}
.calulator form .clear{
    background-color: #ed4848;
}
.calulator form .operator{
    background-color: orange;
}
.calulator form .dot{
    background-color: green;
}
.calulator form input[type = 'text']{
    grid-column: span 4;
    text-align: right;
    padding: 0 10px;
}
.calulator form .clear{
    grid-column: span 3;
}
.calulator form .result{
    grid-column: span 2;
}
